build*
.buildutils
.vscode
autom4te.cache
config.*
compile
ar-lib
aclocal.m4
configure
depcomp
install-sh
missing
Makefile.in
install
Hadrons/sqlite
Hadrons/Modules.hpp
Hadrons/modules.inc
PiPi_App/build*
PiPi_App/.buildutils
PiPi_App/autom4te.cache
PiPi_App/config.*
PiPi_App/compile
PiPi_App/ar-lib
PiPi_App/aclocal.m4
PiPi_App/configure
PiPi_App/depcomp
PiPi_App/install-sh
PiPi_App/missing
PiPi_App/Makefile.in
PiPi_App/install*
